:root {
  --primary: #f5913e;
  --secondary: #858694;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  background: #e7e8f6;
  overflow-y: hidden;
}

.Application {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  margin-top: 5rem;
  gap: 10rem;
  padding: 10rem 20rem 0 20rem;
}

.calc {
  width: 100%;
  max-width: 500px;
}

.display {
  padding: 15px;
  text-align: right;
  background-color: var(--secondary);
  font-size: 20px;
  font-weight: 400;
  color: white;
}

button {
  appearance: none;
  outline: none;
  color: black;
  font-size: 20px;
  padding: 15px;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid rgb(232, 230, 230);
}

button:hover {
  opacity: 0.4;
}

.operands-container {
  display: grid;
  grid-template-columns: 9fr 3fr;
}

.right-operand button {
  width: 100%;
  background-color: var(--primary);
  border: 1px solid rgb(171, 170, 170);
}

.left-operand {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.operands-container .left-operand {
  grid-template-columns: 4fr 4fr 4fr;
}

.left-operand button {
  width: 100%;
}

.left-operand button:nth-child(13) {
  grid-column: span 2;
}

.div-container {
  padding: 2rem;
}

.div-container h2 {
  margin-bottom: 3rem;
  font-size: 20px;
}

.div-container p {
  font-size: 20px;
  line-height: 3rem;
}

nav {
  font-size: 20px;
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem 0 2rem;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

nav ul li {
  cursor: pointer;
  transition: 0.25s ease-out;
}

nav ul li:hover {
  text-decoration: underline;
}

.quotes {
  margin: 20rem auto;
  border: 1px solid gray;
  padding: 100px;
  border-radius: 8px;
  box-shadow: 10px 10px 39px -7px var(--primary);
  width: 70%;
  line-height: 4rem;
}

.quotes-author {
  font-weight: bold;
  font-size: 15px;
}

.quotes-quote {
  font-size: 15px;
}
